.text-light-gray {
    color: $Medium-Gray !important;
}

.text-bold {
    font-weight: bold;
}

.text-size-sub {
    font-size: $Medium-Font-Size-Sub;
}

// .medium-button {
//     color:white;      
//     background-color: $Medium-Blue;
//     border-color: $Medium-Blue;
//     font-size: 14px;
//     border-radius: 18px;
// }

// .medium-button:hover {
//     color: $Medium-Blue;
//     background-color: red;
//     font-weight: bold !important;
// }

